services:
   app:
      container_name: elsass-compta-frontend
      build:
         context: .
         dockerfile: Dockerfile
      restart: unless-stopped
      env_file:
         - .env
      networks:
         - web-network
      # Sécurité de base (Hardening)
      cpus: 0.5
      mem_limit: 512m
      read_only: true
      tmpfs:
         - /tmp:rw,noexec,nosuid,size=128m

networks:
   web-network:
      external: true
